
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Interfaith Community Services</title>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {% load static %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "ics_tool/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "ics_tool/css/sb-admin.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "ics_tool/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Interfaith Community Services</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                      <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Donors <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/add_donor">Add Donor</a>
                            </li>
                            <li>
                                <a href="/search_donor">View Donors</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Submit Feedback</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

		<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Donors
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Donors
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

        <div class="row">
          <div class="col-lg-9">
        <form action="{% url 'ics_tool:add_donor' %}" method="post" enctype="multipart/form-data" class="form-horizontal">

        {% csrf_token %}
		{% if Error %}
            <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>Error!</strong> {{ Error }}
            </div>
            {% endif %}

            <div class="form-group">
              <label class="col-sm-2" for="Salutation">Salutation</label>
	      	<div class="col-sm-4">
			<select class="form-control" name="Salutation">
  			<option value="Mr.">Mr.</option>
  			<option value="Ms.">Ms.</option>
  			<option value="Mrs.">Mrs.</option>
	      		</select>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2">Donor Name</label>
              <div class="col-sm-2"><input class="form-control" placeholder="First Name" name="FirstName" type="text" required></div>
              <div class="col-sm-2"><input class="form-control" placeholder="Last Name" name="LastName" type="text" required></div>
            </div>
	    <div class="form-group">
              <label class="col-sm-2" for="OrganizationName">Organization Name</label>
              <div class="col-sm-4"><input class="form-control" id="OrganizationName" name="OrganizationName" placeholder="Organization Name" type="text" required></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2" for="Email">Email Address</label>
              <div class="col-sm-4"><input class="form-control" id="Email" name="Email" placeholder="Email Address" type="email" required></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2" for="PhoneNumber">Contact Number</label>
              <div class="col-sm-4"><input class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter in the format XXX-XXX-XXXX" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" required></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2" for="Comments">Comments</label>
              <div class="col-sm-4"><input class="form-control" id="Comments" name="Comments" placeholder="Comments" type="text"></div>
            </div>
            <!--<div class="form-group">
              <label class="col-sm-2" for="Comments">Date</label>
              <div class="col-sm-4"><input class="form-control" id="datepicker" name="Date" placeholder="Date" type="text" required></div>
            </div>-->
            <div class="form-group">
              <label class="col-sm-2" for="StreetAddress">Address Details</label>
              <div class="col-sm-4"><input class="form-control" id="StreetAddress" name="StreetAddress" placeholder="Street Address" type="text" required></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2"></label>
              <div class="col-sm-2"><input class="form-control" placeholder="City" name="City" type="text" required></div>
	      <div class="col-sm-4">
			<select class="form-control" name="State" required>
  			<option value="AZ">State</option>
  			<option value="AL">AL</option>
  			<option value="AK">AK</option>
			<option value="AZ">AZ</option>
			<option value="AR">AR</option>
			<option value="AS">AS</option>
			<option value="CA">CA</option>
			<option value="CO">CO</option>
			<option value="CT">CT</option>
			<option value="DC">DC</option>
			<option value="DE">DE</option>
			<option value="FL">FL</option>
			<option value="FM">FM</option>
			<option value="GA">GA</option>
			<option value="GU">GU</option>
			<option value="HI">HI</option>
			<option value="ID">ID</option>
			<option value="IL">IL</option>
			<option value="IN">IN</option>
			<option value="IA">IA</option>
			<option value="KS">KS</option>
			<option value="KY">KY</option>
			<option value="LA">LA</option>
			<option value="ME">ME</option>
			<option value="MD">MD</option>
			<option value="MA">MA</option>
			<option value="MH">MH</option>
			<option value="MI">MI</option>
			<option value="MN">MN</option>
			<option value="MP">MP</option>
			<option value="MS">MS</option>
			<option value="MO">MO</option>
			<option value="MT">MT</option>
			<option value="NE">NE</option>
			<option value="NV">NV</option>
			<option value="NH">NH</option>
			<option value="NJ">NJ</option>
			<option value="NM">NM</option>
			<option value="NY">NY</option>
			<option value="NC">NC</option>
			<option value="ND">ND</option>
			<option value="OH">OH</option>
			<option value="OK">OK</option>
			<option value="OR">OR</option>
			<option value="PA">PA</option>
			<option value="PR">PR</option>
			<option value="PW">PW</option>
			<option value="RI">RI</option>
			<option value="SC">SC</option>
			<option value="SD">SD</option>
			<option value="TN">TN</option>
			<option value="TX">TX</option>
			<option value="UT">UT</option>
			<option value="VI">VI</option>
			<option value="VT">VT</option>
			<option value="VA">VA</option>
			<option value="WA">WA</option>
			<option value="WV">WV</option>
			<option value="WI">WI</option>
			<option value="WY">WY</option>
	      		</select>
                </div>
              <div class="col-sm-2"><input class="form-control" placeholder="Zip" name="Zip" type="text" placeholder="XXXXX" pattern="^\d{5}$" required></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2" for="ICS">Purchase by ICS</label>
              <div class="col-sm-1"><input class="form-control" id="ICS" name="ICS" placeholder="Purchase by ICS" type="checkbox"></div>
            </div>


        {% buttons %}

        <div class="form-group">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-default">Save Donor</button>
          </div>
        </div>
          {% endbuttons %}
          </div>
        </form>
      </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "ics_tool/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "ics_tool/js/bootstrap.min.js" %}"></script>

</body>

</html>
